html{
    background: url(vjezbe/vektorska\ graf/jumbo.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body{
    background: none;
}